# Paquetes
BlackAlder.png
Content/BlackAlder/
Content/MSPresets/MS_Foliage_Material/
Content/SoulCity/
Content/DeerStagAndDoe/

Build/
Content/Builds/

.DS_Store
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace